/* STYLE CHECKBOX
========================================================================== */

.checkbox {
    width: 14px;
    height: 14px;
    position: relative;
    background: white;
}

.checkbox:checked:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 16px;
    height: 16px;
    background: url('../../assets/img/common-icon.png');
    background-position: -28px -78px;
}

.checkbox::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 16px;
    height: 16px;
    background: url('../../assets/img/common-icon.png');
    background-position: -3px -78px;
}